{% load i18n %} {% block subject %} {{ site_name }} - {% trans "Your account has
been successfully created and activated!" %} {% endblock subject %} {% block
html_body %}
<div
  class="container"
  style="
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
  "
>
  <h1
    style="
      font-size: 24px;
      margin-bottom: 20px;
      font-weight: bold;
      color: #000000;
      text-align: center;
    "
  >
    {{ site_name }}
  </h1>

  <p style="font-size: 16px; margin-bottom: 20px; color: #333333">
    {% trans "Thank you for registering on the Adeeny platform." %}
  </p>

  <p style="font-size: 16px; margin-bottom: 20px; color: #333333">
    {% trans "Use the code below to verify your account:" %}
    <br />
    <span>{% trans "Username:" %} {{ user.email }}</span><br />
    <span
      >{% trans "Temporary Password:" %}
      <strong>{{ user.registration_code }}</strong></span
    >
  </p>

  <a
    href="#"
    style="
      display: inline-block;
      padding: 10px 20px;
      background-color: #000000;
      color: #ffffff;
      text-decoration: none;
      border-radius: 5px;
      text-align: center;
      margin: 20px 0;
      font-size: 16px;
    "
  >
    {% trans "Login Now" %}
  </a>

  <div
    class="footer"
    style="
      margin-top: 40px;
      text-align: center;
      font-size: 12px;
      color: #666666;
    "
  >
    <p>
      &copy; 2024 Bsystems Ltd, 6 Eseefo Street, Asylum Down - Accra, Ghana. {%
      trans "All rights reserved." %}
    </p>
    <p>
      {% trans "Please do not reply to this email. Emails sent to this address
      will not be answered." %}
    </p>
  </div>
</div>
{% endblock html_body %}
